header{
  display: flex;
  justify-content: center;
  background-color: #FFFF85;
  margin: 0 1vw;
}
#title{
  font-family: 'Bungee Inline', cursive;
  font-size: 30px;
  width: 45vw;
}AAS
li{
  display:inline-block;
  margin: 10px;
}
